@font-face {
    font-family: 'Monsterrat';
    src: url('/assets/Montserrat-Bold.ttf');
}

body,
html {
    height: 100%;
    margin: 0;
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}

h1 {
    color: #ffffff;
    text-align: center;
}

p {
    color: #000;
    text-align: center;
}

.glass {
    border-radius: 25px;
    opacity: 0.9;
    -webkit-filter: blur(1px);
    /* border: #363333 1px solid; */
    border: #333232 1px solid;
    
    border-radius: 25px;
    background-color: #0000007a;

}

.banner {
    position: absolute;
    top: 3%;
    left: 10%;
    width: 80%;
    height: 10%;
}

.buy {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 30%;
    height: 35%;
}

.buyH1 {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 11%;
    color: #ffffffff;
    font-size: 100px;
    font-family: 'Monsterrat';
}

.buyH2 {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 11%;
    color: #ffffffff;
    font-size: 50px;
    font-family: 'Monsterrat';
}

.generation {
    position: absolute;
    top: 20%;
    left: 42%;
    width: 48%;
    height: 75%;
}

.shadow {
    -webkit-box-shadow: -20px 11px 19px -4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -20px 11px 19px -4px rgba(0, 0, 0, 0.2);
    box-shadow: -20px 11px 19px -4px rgba(0, 0, 0, 0.2);
}

.twitter-logo {
    position: absolute;
    top: 6%;
    left: 85%;
    width: 56px;
    height: 45px;
}

.inside {
    width: 100%;
    height: 100%;
}

.square-buy-button {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    top: 45%;
    left: 30%;
    height: 48px;
}

.gachabiz-text-gradient {
    background: -webkit-linear-gradient(45deg, #16a1bd, #28E9D6, #E965BB, #FCE1B8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---------------- */


.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 15px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.bn632-hover:focus {
    outline: none;
}

.bn632-hover.bn24 {
    background-image: linear-gradient(to right,
            #16a1bdce,
            #28E9D6ce,
            #E965BBce,
            #FCE1B8ce);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}