@font-face {
    font-family: 'Monsterrat';
    src: url('/assets/Montserrat-Bold.ttf');
}

body, html {
    height: 100%;
    margin: 0;
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
}

h1 {
    color: #ffffff;
    text-align: center;
}

p {
    color: #000;
    text-align: center;
}

.glass {
    border-radius: 25px;
    opacity: 0.4;
    -webkit-filter: blur(1px);
    border: #363333 1px solid;
    border-radius: 25px;
    background-color: #ffffff69;

}

.banner {
    position: absolute;
    top: 3%;
    left: 10%;
    width: 80%;
    height: 10%;
}

.buy {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 30%;
    height: 35%;
}

.buyH1 {
    position: absolute;
    z-index: 1;
    top: 15%;
    left: 11%;
    color: #ffffffff;
    font-size: 100px;
    font-family: 'Monsterrat';
}

.buyH2 {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 11%;
    color: #ffffffff;
    font-size: 50px;
    font-family: 'Monsterrat';
}

.generation {
    position: absolute;
    top: 20%;
    left: 42%;
    width: 48%;
    height: 75%;
}

.shadow {
    -webkit-box-shadow: -20px 11px 19px -4px rgba(0,0,0,0.2 );
    -moz-box-shadow: -20px 11px 19px -4px rgba(0,0,0,0.2    );
    box-shadow: -20px 11px 19px -4px rgba(0,0,0,0.2 );
}

.twitter-logo {
    position: absolute;
    top: 6%;
    left: 85%;
    width: 56px;
    height: 45px;
}

.inside {
    width: 100%;
    height: 100%;
}

.square-buy-div {
    position: absolute;
    top: 45%;
    left: 26%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 259px;
    font-family: Rubik, SQ Market, Helvetica, Arial, sans-serif;
}

.square-buy-button {
    display: inline-block;
    font-size: 18px;
    line-height: 48px;
    height: 48px;
    color: #000000;
    min-width: 212px;
    background-color: #44e4d483;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1) inset;
    border-radius: 50px;
  
}